body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

#viewerContainer, #chatContainer {
    flex: 1;
    overflow: auto;
}

#viewerContainer {
    border-right: 1px solid #ccc;
}

.fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
