body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#pdf-viewer {
    position: fixed;
    top: 56px; /* Adjusted to push down below the navbar */
    left: 0;
    width: calc(50% - 5px); /* Adjust width to create a smaller gap */
    height: calc(100% - 56px); /* Adjust height to account for the navbar */
    overflow: auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    z-index: 0; 
}
.chat-container {
    position: fixed;
    top: 56px; /* Adjusted to push down below the navbar */
    right: 0;
    width: calc(50% - 5px); /* Adjust width to create a smaller gap */
    height: calc(100% - 56px); /* Adjust height to account for the navbar */
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 20px;
    border: 2px solid black;
    z-index: 0; 
    
}
.chat-messages {
    overflow-y: auto;
}
canvas {
    width: 100% !important;
    height: auto !important;
}
/* Chat messages styling */
.message {
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-question {
    background-color: #007bff;
    color: white;
    margin-left: auto;
    margin-right: 10px;
    width: auto;
    text-align: left;
}

.chatbot-answer {
    background-color: #dddddd;
    color: black;
    margin-left: 10px;
    margin-right: auto;
    text-align: left;
}

/* Adjust the dropdown menu width */
.dropdown-menu {
    max-height: 200px; /* Set a maximum height for the dropdown menu */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    min-width: auto; /* Reset min-width to allow the menu to expand */
    width: max-content; /* Set the width to expand based on content */
}


/* Adjust the dropdown button */
.dropdown-toggle {
    width: 100%; /* Ensure the dropdown button spans the full width */
}

/* Adjust the navbar items */
.navbar-nav .nav-link {
    width: 100%; /* Ensure the navbar items span the full width */
    text-align: center; /* Center-align the text */
}


.navbar {
    position: fixed; /* Ensure the navbar remains fixed at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Ensure the navbar appears in front of other content */
}


#ask-a-person-button {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 10000;
}