<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Viewer</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/pdf.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
    <script id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main.logout') }}">CourseChat</a>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{{ url_for('user.course_details', course_id=course_id) }}">Back</a>
        </div>
    </nav>
    </br>
    <div class="big-container">
        <div class="pdf-viewer-container">
            <div id="pdf-viewer"></div>
        </div>
        <div class="chat-container-outer">
            
            <div class="chat-container">
                <button class="btn btn-primary btn-sm" id="ask-a-person-button" type="button">Ask A Person</button>
                <div class="container">
                    <div class="row">
                        <div class="card-body">
                            <div id="chat-messages" class="mb-3 chat-messages"></div>
                            <form id="chat-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="message-input" placeholder="Type your message...">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" id="send-button">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </body>
    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var pdf_data_base64 = "{{ pdf_data_base64 }}";
        var pdfData = atob(pdf_data_base64);
        var pdfDataBytes = new Uint8Array(pdfData.length);
        for (var i = 0; i < pdfData.length; i++) {
            pdfDataBytes[i] = pdfData.charCodeAt(i);
        }

        var pdfjsLib = window['pdfjs-dist/build/pdf'];
        pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.worker.js';

        var numPagesGlobal; // Define a global variable to store the number of pages

        var loadingTask = pdfjsLib.getDocument({data: pdfDataBytes});
        loadingTask.promise.then(function(pdf) {
            numPagesGlobal = pdf.numPages; // Set the global variable
            var pdfViewer = document.getElementById('pdf-viewer');

            for (let pageNumber = 1; pageNumber <= numPagesGlobal; pageNumber++) {
                pdf.getPage(pageNumber).then(function(page) {
                    var scale = 1.5;
                    var viewport = page.getViewport({scale: scale});
                    var canvas = document.createElement('canvas');
                    var context = canvas.getContext('2d');
                    canvas.height = viewport.height;
                    canvas.width = viewport.width;

                    var renderContext = {
                        canvasContext: context,
                        viewport: viewport
                    };
                    page.render(renderContext);

                    var pageContainer = document.createElement('div');
                    pageContainer.appendChild(canvas);
                    pdfViewer.appendChild(pageContainer);
                });
            }
        });

        var currentPageNumber = 1;
        var pdfViewer = document.getElementById('pdf-viewer');

        function updateCurrentPageNumber() {
            var scrollTop = pdfViewer.scrollTop;
            var averagePageHeight = pdfViewer.scrollHeight / numPagesGlobal;
            currentPageNumber = Math.ceil(scrollTop / averagePageHeight);
            console.log('Current Page Number:', currentPageNumber);
        }

        pdfViewer.addEventListener('scroll', updateCurrentPageNumber);


        function sendMessage() {
            console.log("Sending message...");
            var messageInput = document.getElementById("message-input");
            var message = messageInput.value.trim();

            if (message !== "") {
                // Display the user's question in the chat
                displayMessage(message);

                // Display a loading message
                var loadingMessageId = displayLoadingMessage("Reading documents...");
                // Make an AJAX request to your server
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/get_answer_from_pdf", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                        removeMessage(loadingMessageId); // Remove the loading message
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            displayAnswerWithoutLatex(response.answer);
                        } else {
                            displayAnswerWithoutLatex("Sorry, there was an error processing your request.");
                        }
                    }
                };
                var pdf_id = "{{pdf_id}}";
                var api_key = "{{api_key}}";
                xhr.send(JSON.stringify({question: message, pdf_id: pdf_id, page_number: currentPageNumber, api_key: api_key}));

                // Clear the input field
                messageInput.value = "";
            }
        }   

        function displayLoadingMessage(message) {
            var chatMessages = document.getElementById("chat-messages");
            var loadingDiv = document.createElement("div");
            loadingDiv.textContent = message;
            loadingDiv.className = 'message loading-message'; // Assign classes for styling
            chatMessages.appendChild(loadingDiv);
            
            // Generate a unique ID for the loading message
            var loadingMessageId = 'loading-' + Date.now();
            loadingDiv.id = loadingMessageId;
            
            // Scroll to the latest message
            chatMessages.scrollTop = chatMessages.scrollHeight;
        
            return loadingMessageId;
        }
        
        function removeMessage(messageId) {
            var messageElement = document.getElementById(messageId);
            if (messageElement) {
                messageElement.parentNode.removeChild(messageElement);
            }
        }

    
        function displayMessage(question) {
            var chatMessages = document.getElementById("chat-messages");
                
            // Create a div for the question with appropriate classes
            var questionDiv = document.createElement("div");
            questionDiv.textContent = question;
            questionDiv.className = 'message user-question'; // Assign classes for styling
            chatMessages.appendChild(questionDiv);

            // Scroll to the latest message
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }

        function displayAnswer(latexString) {
            // Create a placeholder element for MathJax to render into
            var placeholder = document.createElement('div');
            placeholder.style.visibility = 'hidden'; // Hide the placeholder

            // Set the LaTeX string as the content of the placeholder
            placeholder.innerHTML = '$$' + latexString + '$$'; // Use $$ for multiline display mode

            // Append the placeholder to the document body to trigger MathJax rendering
            document.body.appendChild(placeholder);

            // Wait for MathJax to finish rendering
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, placeholder]);

            // After rendering, extract the rendered HTML
            setTimeout(function() {
                var renderedHTML = placeholder.innerHTML;
            
                // Create a div for the answer with appropriate classes
                var chatMessages = document.getElementById("chat-messages");
                var answerDiv = document.createElement("div");
                answerDiv.innerHTML = renderedHTML;
                answerDiv.className = 'message chatbot-answer'; // Assign classes for styling
                chatMessages.appendChild(answerDiv);
            
                // Scroll to the latest message
                chatMessages.scrollTop = chatMessages.scrollHeight;
            
                // Remove the placeholder from the DOM
                document.body.removeChild(placeholder);
            }, 1000); // Adjust the delay as needed based on MathJax rendering speed
        }



        function displayAnswerWithoutLatex(answerHTML) {
            var chatMessages = document.getElementById("chat-messages");
            
            // Create a div for the answer with appropriate classes
            var answerDiv = document.createElement("div");
            answerDiv.innerHTML = answerHTML; // Set innerHTML to append HTML content
            answerDiv.className = 'message chatbot-answer'; // Assign classes for styling
            
            // Append the answer div to the chat messages
            chatMessages.appendChild(answerDiv);
            
            // Scroll to the latest message
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }

        function sendMessageToHuman() {
            var message = messageInput.value.trim();
            if (message !== "") {
                // Display the loading message
                var popupText = "This is some editable text";
                var popupWindow = window.open("", "Popup Window", "width=400,height=300");
                popupWindow.document.write("<html><body><textarea id='popup-textarea' style='width: 100%; height: 100%;'>" + popupText + "</textarea></body></html>");
                popupWindow.document.write("<button onclick='log_question_for_person()'>Ask Question</button>");
            }
        }

    
        var sendButton = document.getElementById("send-button");
        sendButton.addEventListener("click", function(event) {
            event.preventDefault(); // Prevent the default form submission
            sendMessage();
        });

        var messageInput = document.getElementById("message-input");
            messageInput.addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Prevent the default form submission
                sendMessage();
            }
        });

        var askAPersonButton = document.getElementById("ask-a-person-button");
        askAPersonButton.addEventListener("click", function(event) {
            event.preventDefault(); // Prevent the default form submission
            sendMessageToHuman();
        });

    </script>
</body>
</html>
