<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course.title }} - Course Details</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/course.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap JS and jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main.logout') }}">CourseChat</a>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{{ url_for('main.logout') }}">Back</a>
        </div>
    </nav>
    </br>
    <div class="container mt-5">

    <h1>{{ course.title }}</h1>
    </br>
    <h2>Available Scripts</h2>
    </br>
    {% if pdfs %}
        <ul class="pdf-list">
            {% for pdf in pdfs %}
                <li class="pdf-item">
                    <a href="{{ url_for('main.pdf_details', pdf_id=pdf.id) }}" class="pdf-link">
                        <img src="{{ url_for('static', filename='images/pdf.png') }}" alt="PDF Icon" class="pdf-icon">
                        {{ pdf.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No PDFs available yet.</p>
    {% endif %}
    </div>
</body>
</html>
